<div class="landingPage">
    <section class="video">
        <video autoplay [muted]="true" loop id="myVideo">
            <source src="/assets/video3cviche69.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="box">
            <div class="element-top">
                <div>
                    <h1>CVI</h1>
                    <h1 [style]="{'color':'white'}">CHE</h1>
                    <h1>69</h1>
                </div>
            </div>
            <p>Si no alcanzaste a comprar o te da flojera cocinar, <br /> ven a probar la mejor <b>COMIDA MARINA</b> de
                todo
                <br />Lima para su degustación.
            </p>
            <div class="element-buttons">
                <button (click)="promocionesHandler()" class="promociones">Promociones</button>
                <button class="pedidosYa">Pedidos Ya</button>
            </div>
        </div>
    </section>
    <div class="margin"></div>
    <section class="proveValue">
        <app-counters style="width: 100%;" [counters]="counters"></app-counters>
    </section>
    <div class="margin"></div>
    <section #promosRef class="promos" style="margin-bottom: 0;">
        <app-slide-show-left [aniVelocity]="1000" [styleWidth]="'100vw'" [height]="'100vh'" [buttons]="false">
            <ng-template #template>
                <div class="promos-cards">
                    @for(e of promos; track i; let i = $index) {
                        <app-generic-card [width]="'100%'" [title]="'Ceviche'" [img]="'assets/cviche69-imagen1.png'"
                            desc="¡No puedes resistirte a este platillo! 😉" [button]="'Pedir'"></app-generic-card>
                        }
                </div>
            </ng-template>
            <ng-template #template>
                <div class="promos-cards">
                    @for(e of carta; track i; let i = $index) {
                    <app-generic-card [width]="'100%'" [title]="e.title" [img]="e.img" [desc]="e.desc"
                        [button]="e.button"></app-generic-card>
                    }
                </div>
            </ng-template>
        </app-slide-show-left>
    </section>
    <div class="margin"></div>
    <section class="locales" style="margin-bottom: 0;">
        <div class="locales box">
            <iframe src="https://my.atlist.com/map/ea593591-de3c-4a07-be50-bd4c47eb8294/?share=true"
                allow="geolocation 'self' https://my.atlist.com" width="100%" height="100%" loading="lazy"
                frameborder="0" scrolling="no" allowfullscreen id="atlist-embed"></iframe>
        </div>
    </section>
</div>